<!DOCTYPE html>
<html lang="ko">
<head>
     <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>회사소개</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/styles.css" rel="stylesheet" />
</head>
{% extends 'base.html' %}
{% block content %}
<body>
<h1>회사소개 페이지입니다.</h1>
</body>
{% endblock %}
</html>