<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
           <meta name="description" content="" />
           <meta name="author" content="" />
           <title>댓글 수정</title>
           <!-- Core theme CSS (includes Bootstrap)-->
           <link href="../../../../static/products/styles.css" rel="stylesheet" />
   </head>

{% extends 'base.html' %}
{% block content %}
<body>
<h2> update comment</h2>
<section class="mb-5">
 <div class="card bg-light">
 <div class="card-body">
 <form method="post" class="mb-4" action="{% url 'comment_update' comment.id %}">
 {% csrf_token %}
 <textarea id="content" name="content" class="form-control"
rows="3">{{ form.content.value }}</textarea>
 <button type="submit" class="btn btn-primary">submit</button>
 </form>
 </div>
 </div>
</section>
</body>
{% endblock %}
</html>