<!DOCTYPE html>
<html lang="ko">
<head>
     <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>상품상세</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../../static/products/styles.css" rel="stylesheet" />
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <h1>타이틀 : {{ product.title }}</h1>
    <h5>내용 : {{  product.content }}</h5>
    <h6>인기도 : {{product.popularity}}</h6>
    <h6>등록 시기 : {{product.pub_date}}</h6>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.title }}" style="max-width: 200px;">
    {% endif %}
    <form method="post" action="{% url 'product-delete' product_id=product.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
</body>
{% endblock %}
</html>
