<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>문의사항</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../static/products/styles.css" rel="stylesheet" />
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <h1>문의사항이 성공적으로 등록되었습니다.</h1>
    <a href="{% url 'home' %}">메인화면으로</a>
</body>
{% endblock %}
</html>